body {
    animation: vaihdaTausta 20s infinite alternate ease-in-out; /* muista infinite jotta  */
}

@keyframes vaihdaTausta {
    0% {background-color: rgb(26, 228, 228);}
    50% {background-color: rgb(87, 175, 182);}
    100% {background-color: rgb(17, 127, 201);}
}

header {
    background-color: aquamarine;
    margin: auto;
    align-items: center;
    text-align: center;
}

nav {
    padding: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav ul li a {
    color: #004080;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}


article {
    background: #67acd4;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    min-width: 250px;
    text-align: center;
    padding: 10px 10px;
}


#pelialue{
    display: grid;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    padding: 5px;
}
#pelialue div{
    width: 60px;
    height: 60px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    cursor: pointer;


    
}

#pelialue div:hover{
    transform: scale(1.05);
    background-color: rgb(209, 208, 208);

}

