body {
  font-family: Arial, sans-serif;
  background-color: #8da89e;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #2c3e50;
  margin-bottom: 30px;
}

.section {
  background-color: #9cbb98;
  border: 1px solid #505050;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  width: 80%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

input[type="date"],
input[type="text"] {
  padding: 10px;
  font-size: 1em;
  margin-right: 10px;
  width: 60%;
}

button {
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9;
}

p {
  font-size: 1.1em;
  color: #333;
  margin-top: 10px;
}